
{% comment %}

<div class="message" style="float: none; font-size: 80%; margin-left: 3em; margin-right: 3em;">
  <!-- <hr style="margin-top: 0.2em; margin-bottom: 0.5em; border-bottom: 0;" /> -->
  <div>
    By the way, I'm a Christian; not the best Christian there is, of course. :grin:

    <br />
    Some people might even call me a hypocrite sometimes.
    <br />
    Some Christians might even disown me. 

    <br />
    But if you are curious about Christianity, you can start learning about it <a href="https://www.gotquestions.org/what-is-the-gospel.html"><span class="red-text">here</span></a>.
  </div>
  <!-- <hr style="margin-top: 0.5em; margin-bottom: 0.2em; border-bottom: 0;" /> -->
</div>

{% endcomment %}